.missions-container{
  padding-top: 30px;
}

.line {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
  color: #fff;
}

.mname-case,
.mdesc-case,
.mstat-case,
.mbtn-case {
  border: 1px solid transparent;
  border-radius: 10px;
  margin-bottom: 4px;
  margin-top: 0;
  margin-right: 4px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: #ffffff10;
}

.mname-case {
  width: 10%;
}

.mdesc-case {
  width: 65%;
}

.mstat-case {
  width: 10%;
}

.mbtn-case {
  width: 12%;
}
