.mission-container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.name-case,
.desc-case,
.stat-case,
.btn-case {
  border: 1px solid #000;
  margin: 0;
  padding-left: 4px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.name-case {
  width: 9.85%;
}

.desc-case {
  width: 68.7%;
}

.stat-case {
  width: 9.8%;
}

.btn-case {
  width: 10.25%;
}
